.step--sequencer--container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step--sequencer {
  margin-left: 2em;
  display: flex;
  flex-direction: column-reverse;
}

.notes--label > * {
  padding: 1px;
}

.steps--label {
  display: flex;
}

.transport {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}
.transport > * {
  padding: 1rem;
}
